<div class="panel panel-default" ng-init="getRanking(ranking._id)">
  <div class="panel-heading">
    <h3 class="panel-title">The ranking info with user data!!!</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="rank in dataranking">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h4>Position: {{rank.position}}</h4>
    				<p>Score: {{rank.score}}</p>
            <p>Firstname: {{rank.firstname}}</p>
            <p>Lastname: {{rank.lastname}}</p>
        		</div>
    		</div>
    	</div>
    </div>
  </div>
</div>