<div class="panel panel-default" ng-init="getRanking()">
  <div class="panel-heading">
    <h3 class="panel-title">List of Rankings!!!</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="rank in ranking">
    				<h4>Position: {{rank.position}}</h4>
    				<p>User: {{rank.user}}</p>
            <p>Score: {{rank.score}}</p>
    	</div>
    </div>
  </div>
</div>
