<a href="#/users">Go Back</a>
<div class="panel panel-default" ng-init="getUser()">
  <div class="panel-heading">
    <h3 class="panel-title">{{user.firstname}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        </p>{{user.id}}</p>
        <ul class="list-group">
          <li class="list-group-item">Intelligent</li>
          <li class="list-group-item">Funny</li>
          <li class="list-group-item">Nice</li>
          <li class="list-group-item">Sporty</li>
        </ul>
      </div>
    </div>
  </div>
</div>