<div class="panel panel-default" ng-init="getUsers()">
  <div class="panel-heading">
    <h3 class="panel-title">List of users!!!</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="user in users">
    		<div class="col-md-6">
    			<div class="col-md-6">
            <h4>Id: {{user.id}}</h4>
    				<p>FirstName: {{user.firstname}}</p>
    				<p>LastName: {{user.lastname}}</p>
            <a class="btn btn-primary" href="#!/users/{{user._id}}">View User</a>
    			</div>
    			<div class="col-md-6">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>